div[name="todotext"] {
  margin-bottom: 0px;
}

.App {
  margin-top: 25px;
}

h2,
h3,
h4 {
  text-align: center;
}

a.link {
  color: rgba(0, 0, 0, 0.65);
}
a.link:active {
  color: #096dd9 !important;
}

a.link:hover {
  color: #096dd9 !important;
}

.true {
  text-decoration: line-through;
}

.hideaction {
  display: none;
}

.CalendarLabel,
.TitleLength {
  margin-left: 30px;
}

.important-task {
  background-color: lightyellow;
}

#checkbox-important-task {
  margin-left: 30px;
}
.ant-form-item {
  margin-bottom: 16px;
}
